body {
    background-color: gray;
}
header {
    text-align: center;
    padding: 10px;
}
#detalhes{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 10px;
    font-size: 15px;
}
