body {
    justify-items: center;
    background-color: gray;
}

header {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.jogador{
    color: white;
    background-color: black;
    text-align: center;
    width: 300px;
    overflow: hidden;
    border-radius: 10%;
    padding-bottom: 20px;
    padding-top: 1px;
    margin: 10px;
}

#div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

@media only screen and (max-width: 1720px) {
    #div{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1020px) {
    #div{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 630px) {
    #div{
        grid-template-columns: 1fr;
    }
}
